.logo-img {
    width: 350px; 
    height: 90px;  
    object-fit: cover; 
    object-position: center; 
}
.nav-link.active {
    text-decoration: underline; 
    text-decoration-thickness: 1px; 
    font-weight: bold;
  }