.admin-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: auto !important;
    background-color: #f4f7fc;
  }
  
  .admin-layout {
    display: flex;
    height: 90vh;
  }
  
  
  
  