.features-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-box {
    width: 390px;
    height: 500px;
    background: #fdfaf5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    position: relative;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .icon {
    width: 100px;
    height: 100px;
    color: #c57c4d;
    margin-bottom: 15px;
  }
  
  .card-section3 {
    color: #c57c4d;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .p {
    color: #333;
    font-size: 18px;
    margin: 0;
  }
  