.doctor-root {
    display: flex;
    flex-direction: column;
    height: 97vh;
    max-height: auto;
    background-color: #f4f7fc;
  }
  
  .doctor-layout {
    display: flex;
    height: 90vh;
  }
  
  
  
  